<!DOCTYPE html>
<html>
  <head>
    <title>TopJobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>

    <% if !flash.empty? %>
      <div id="flash"> 
        <% flash.keys.each do |k| %> 
          <div class="<%= k %>">
            <%= flash[k] %>
          </div>  
        <% end %>   
      </div>
    <% end %>



  </head>

  <body>
  
  
    <h3><div id="heading"></div></h3>

    <div id="app-container">       
         

        <%= yield %><br>
         
      <%-# <button id='new-job-form'>Post a New Job</button> -%>

    </div>
    <br>

    <div id="nav"></div>

  </body>
</html>
